@using Bank.Domain.Entities;
@model User

@{
    ViewData["Title"] = "User Creating Page";
}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="myform form ">
            <form asp-controller="User" asp-action="DoUpdate" method="put" asp-antiforgery="true" enctype="multipart/form-data">
                <div class="form-group" style="padding-top: 30px;">
                    <input type="text" asp-for="Ism" class="form-control my-input" placeholder="Ism" required>
                </div>
                <div class="form-group" style="padding-top: 30px;">
                    <input type="text" asp-for="Familya" class="form-control my-input" placeholder="Familya" required>
                </div>
                <div class="form-group" style="padding-top: 30px;">
                    <input type="number" min="0" asp-for="Yoshi" class="form-control my-input" placeholder="Yoshi" required>
                </div>
                <div class="text-center pt-3">
                    <button type="submit" class="btn btn-outline-success">Update User</button>
                </div>
                <div class="col-md-12">
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or" style="margin-left: 200px">or</span>
                    </div>
                </div>
                <div style="margin-left: 180px; padding-top: 10px;">
                    <a class="btn btn-danger" href="@Url.Action("Index", "User")">
                        Go Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>